text {
  font-family: 'Roboto Condensed', sans-serif;
}

.name {
  font-weight: 700;
}

.about {
  fill: #777;
  font-size: smaller;
  font-weight: 500;
}

.link {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
